.create-event-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: white;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.create-event-form {
  display: flex;
  gap: 20px;
  flex: 1;
  flex-direction: column;
}

.create-event-form-container {
  display: flex;
  flex-direction: row;
}

.close-modal-icon {
  position: absolute !important;
  top: 0px;
  right: 10px;
}
